*{
    margin:-5px 5px;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: darkviolet;
}



.main{
    margin:20px auto;
    max-width: 1100px;
    background-color: white;
    border-radius: 3px;
    padding:30px 2%;
}
.main h1{
    color:crimson;
    text-align: center;
}
.main input{
    width:250px;
    height:20px;
    padding-left: 10px;
}



.cartas{
    margin:20px 0;
    display: flex;
    flex-wrap: wrap;
}

.carta{
    border-radius:10px;
    width:29%;
    margin:20px 2%;
    background-color:rgb(200,200,200);
}
.carta img{
    width:100%;
}
.carta p{
    font-size: 21px;
    text-align: center;
    padding:15px 0px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}



@media screen and (max-width:768px){
    .carta{
        width:100%;
        text-align: center;
    }
    .carta img{
        max-width: 400px;
    }
}